alias lsdim='ls -lSr'
alias biggest='ls -l | sort -k 5 -g | less'
alias latest="find . -type f -printf '%T@ %P\n' | sort -n | awk '{print $1}' | tail -1"
alias bc='bc -l'
alias ev='echo $* | bc -l'
alias df='df -h'
alias dus='du -cah | sort -h'
alias kc='kubectl'
alias kg='kc get'
alias kga='kc get all'
alias kgp='kc get pods'
alias kgs='kc get svc'
alias kdes='kc describe pods'
alias kgn='kc get nodes'
alias keit='kc exec -it'
alias kl='kc logs'
alias klp='kc logs pods'
alias klf='kc logs -f'
alias kaf='kc apply -f'
alias kgd='kc get deploy'
alias krr='kc rollout restart'
alias kced='kc edit'
alias kcgi='kc get pods --all-namespaces -o jsonpath={..image} |tr -s '\''[[:space:]]'\'' '\''\n'\'' |sort |uniq -c'
alias ktop='kc top pod --sort-by=cpu | head'
alias ktopm='kc top pod --sort-by=memory | head'
alias jqp="jq -R 'fromjson? | select(type == \"object\")'"
alias gwlogs='awslogs get eks/shared-eks-cluster/containers --profile=gateway --aws-region=eu-central-1'
alias nodepods='kubectl get pods --sort-by="{.spec.nodeName}" -o custom-columns="NAME:.metadata.name,NODE:.spec.nodeName,NAMESPACE:.metadata.namespace"'
alias less='bat -p'
alias ls='exa'
alias lsn='exa -lsnewest'
alias lsb='ls -lssize'
alias k9sr='k9s --readonly'
function getcol() { awk "{print \$${1:-1}}"; }
