alias jqp="jq -R 'fromjson? | select(type == \"object\")'"
alias kc='kubectl'
alias kga='kc get all'
alias kgp='kc get pods'
alias kgs='kc get svc'
alias gwlogs='awslogs get eks/shared-eks-cluster/containers --profile=gateway --aws-region=eu-central-1'
alias nodepods='kubectl get pods --sort-by="{.spec.nodeName}" -o custom-columns="NAME:.metadata.name,NODE:.spec.nodeName,NAMESPACE:.metadata.namespace"'
